@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #eeeeee;
}

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  background: #21201e;
}

header {
  background: url(../img/bg-slider-06.webp) center/cover;
  padding: 0 50px;
  color: #eeeeee;
}
header .nav {
  display: grid;
  grid-template-columns: 10% 82% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  height: 12vh;
  margin: 0 auto;
}
header .nav__logo {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  color: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(166, 114, 69)), color-stop(50%, transparent));
  background: linear-gradient(to right, rgb(166, 114, 69) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-transition: background-position 0.9s ease, color 0.9s ease;
  transition: background-position 0.9s ease, color 0.9s ease;
  cursor: pointer;
}
header .nav__logo:hover {
  background-position: 0%;
  color: transparent;
}
header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.9rem;
}
header .nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .nav__social i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header .nav__social i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .hero {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .hero__text {
  margin-top: -180px;
}
header .hero__text h2 {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 3rem;
  color: rgb(166, 114, 69);
}
header .hero__text h1 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  font-size: 3.7rem;
  font-weight: 700;
  letter-spacing: 15px;
  margin-top: -30px;
}
header .hero__text img {
  height: 27px;
  margin: 50px 0;
}
header .hero__text h6 {
  font-size: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eeeeee;
}
.section1__left {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed rgb(166, 114, 69);
}
.section1__left h2 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.2rem;
  font-weight: 500;
}
.section1__left h3 {
  margin-top: -17px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: Poppins, serif;
}
.section1__left img {
  margin: 25px;
}
.section1__left img:nth-of-type(2) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}
.section1__left h4 {
  font-family: Poppins, serif;
  letter-spacing: 1px;
  font-weight: 100;
}
.section1__left h5 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
  text-transform: uppercase;
}
.section1__right {
  background: url(../img/store-01.webp) center/cover;
}

.section2 {
  color: #eeeeee;
  position: relative;
  padding-bottom: 100px;
}
.section2 h2 {
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-family: Allura, cursive;
  font-weight: 500;
  padding: 60px 0 30px;
}
.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
.section2 ul li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 8px;
}
.section2::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  left: 0;
  background: url(../img/bg-menu-01.webp) center/cover;
  bottom: 0;
  z-index: -100;
}
.section2 .container__food {
  background: #eeeeee;
  color: #21201e;
  width: 85%;
  margin: 0 auto;
  max-width: 800px;
  border-top: 4px solid rgb(166, 114, 69);
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.section2 .container__food__meal {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
.section2 .container__food__meal img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
.section2 .container__food__meal .meal__text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
  height: 100%;
}
.section2 .container__food__meal .meal__text h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.section2 .container__food__meal .meal__text .ingredient {
  font-size: 0.95rem;
  color: rgb(182, 182, 182);
}
.section2 .container__food__meal .price {
  color: rgb(166, 114, 69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.section3 {
  padding: 100px 15px 65px;
  color: #eeeeee;
}
.section3 .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  background: #eeeeee;
  max-width: 1050px;
  margin: 0 auto;
}
.section3 .reservation__hours {
  padding: 24px;
  background: black;
}
.section3 .reservation__hours-left {
  border: 1px dashed rgb(182, 182, 182);
  padding: 20px 0;
}
.section3 .reservation__hours-left h3 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
.section3 .reservation__hours-left h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 3px;
}
.section3 .reservation__hours-left img {
  margin-top: 25px;
}
.section3 .reservation__hours-left h5 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-family: Poppins, serif;
  font-size: 1.1rem;
  margin: 38px 0 12px;
}
.section3 .reservation__hours-left p {
  font-size: 0.85rem;
}
.section3 .reservation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3 .reservation__right-container h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
}
.section3 .reservation__right-container h3 {
  font-family: Poppins, serif;
  color: #21201e;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: -20px;
}
.section3 .reservation__right-container img {
  margin: 20px;
}
.section3 .reservation__right-container .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.section3 .reservation__right-container .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section3 .reservation__right-container button {
  border: none;
  border-radius: 50px;
  background: #21201e;
  color: #eeeeee;
  padding: 15px 30px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section3 .reservation__right-container button:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.section4 {
  padding: 50px 20px 90px;
}
.section4 .events-container {
  max-width: 1000px;
  margin: 0 auto;
}
.section4 .events-container h2 {
  font-size: 2.5rem;
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
}
.section4 .events-container h4 {
  font-family: Poppins, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: -12px;
  color: #eeeeee;
}
.section4 .events-container img {
  margin: 30px 0;
}
.section4 .events-container .events-grid {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c b";
  gap: 20px;
}
.section4 .events-container .events-grid .date-content {
  background: #21201e;
  color: #eeeeee;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 22px;
}
.section4 .events-container .events-grid .date-content h6 {
  font-size: 1.7rem;
}
.section4 .events-container .events-grid .address {
  background: #eeeeee;
}
.section4 .events-container .events-grid .address h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
}
.section4 .events-container .events-grid .address p {
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
  margin-top: 20px;
  letter-spacing: 1px;
}
.section4 .events-container .events-grid .address p i {
  margin-right: 3px;
  font-size: 0.7rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.section4 .events-container .events-grid .address p i:nth-child(2) {
  margin-left: 10px;
}
.section4 .events-container .events-grid .address h5 {
  letter-spacing: 2px;
  margin-top: 25px;
  text-transform: uppercase;
}
.section4 .events-container .events-grid .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
.section4 .events-container .events-grid .event-left .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .events-container .events-grid .event-left .address {
  color: #21201e;
  padding: 30px 20px;
}
.section4 .events-container .events-grid .event-1 {
  grid-area: a;
}
.section4 .events-container .events-grid .event-1 .date {
  background: url(../img/event-01.jpg) center/cover;
}
.section4 .events-container .events-grid .event-2 {
  grid-area: c;
}
.section4 .events-container .events-grid .event-2 .date {
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .events-container .events-grid .event-3 {
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}
.section4 .events-container .events-grid .event-3 .address {
  height: 100%;
  padding: 0 12px;
}
.section4 .events-container .events-grid .event-3 .address h3 {
  margin: 40px 0 15px;
}
.section4 .events-container .events-grid .event-3 .address h5 {
  padding: 45px 0;
}

.section5 {
  padding: 70px 0 110px;
}
.section5::after {
  content: "";
  position: absolute;
  height: 350px;
  width: 100%;
  background: url(../img/gmap.webp) center/cover;
  left: 0;
  bottom: -3300px;
  z-index: -24;
}
.section5 .quote-container {
  background: #eeeeee;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
}
.section5 .quote-container:before {
  content: "";
  position: absolute;
  background: url(../img/avatar-02.jpg) center/cover;
  height: 60px;
  width: 60px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
}
.section5 .quote-container .text-container {
  line-height: 30px;
}
.section5 .quote-container .text-container:before {
  content: "❝";
}
.section5 .quote-container .text-container:after {
  content: "❞";
}
.section5 .quote-container h2 {
  margin: 30px 0 15px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
.section5 .quote-container p {
  color: rgb(166, 114, 69);
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  color: #eeeeee;
  padding: 65px 32px;
}
footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-content .left-part {
  padding-right: 30px;
  line-height: 30px;
  color: rgb(182, 182, 182);
}
footer .footer-content .left-part h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  color: rgb(166, 114, 69);
  font-weight: 100;
  margin-bottom: 15px;
}
footer .footer-content .right-part {
  padding-left: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
footer .footer-content .right-part h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
}
footer .footer-content .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.15);
  padding: 7px 13px;
  width: 250px;
}
footer .footer-content .right-part .followUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
footer .footer-content .right-part .followUs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #595956;
  font-size: 0.8rem;
  width: 200px;
  cursor: pointer;
}
footer .footer-content .right-part .followUs ul i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footer-content .right-part .followUs ul i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}/*# sourceMappingURL=index.css.map */