header {
  background: url(../img/bg-slider-06.webp) center/cover;
  padding: 0 50px;
  color: $white;

  .nav {
    display: grid;
    grid-template-columns: 10% 82% 8%;
    align-items: center;
    max-width: 1100px;
    height: 12vh;
    margin: 0 auto;

    &__logo {
      font-family: $font1;
      font-size: 2.5rem;
    }

    &__menu {
      @include alignChildren(space-around);
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    &__social {
      @include alignChildren(space-around);
      i {
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .hero {
    height: 88vh;
    @include childCenter;

    &__text {
      margin-top: -180px;

      h2 {
        font-family: $font1;
        font-weight: 100;
        font-size: 3rem;
        color: $color1;
      }

      h1 {
        font-family: $font2;
        text-transform: uppercase;
        font-size: 3.7rem;
        font-weight: 700;
        letter-spacing: 15px;
        margin-top: -30px;
      }

      img {
        height: 27px;
        margin: 50px 0;
      }

      h6 {
        font-size: 1rem;
        letter-spacing: 8px;
        text-transform: uppercase;
      }
    }
  }
}
