.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;

  &__left {
    margin: 15px;
    padding: 30px 15px;
    border: 1px dashed $color1;

    h2 {
      font-family: $font1;
      color: $color1;
      font-size: 2.2rem;
      font-weight: 500;
    }

    h3 {
      margin-top: -17px;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-family: $font2;
    }

    img {
      margin: 25px;
    }

    img:nth-of-type(2) {
      height: 70px;
      border-radius: 150px;
      margin-bottom: 8px;
    }

    h4 {
      font-family: $font2;
      letter-spacing: 1px;
      font-weight: 100;
    }

    h5 {
      color: $grey;
      font-size: 0.7rem;
      text-transform: uppercase;
    }
  }
  &__right {
    background: url(../img/store-01.webp) center/cover;
  }
}
