.section5 {
  padding: 70px 0 110px;

  &::after {
    content: "";
    position: absolute;
    height: 350px;
    width: 100%;
    background: url(../img/gmap.webp) center/cover;
    left: 0;
    bottom: -3300px;
    z-index: -24;
  }

  .quote-container {
    background: $white;
    position: relative;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 65px 70px;
    box-shadow: 0 0 3px #333;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/avatar-02.jpg) center/cover;
      height: 60px;
      width: 60px;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
    }
    .text-container {
      line-height: 30px;
      &:before {
        content: "❝";
      }
      &:after {
        content: "❞";
      }
    }
    h2 {
      margin: 30px 0 15px;
      font-family: $font3;
      font-weight: 100;
    }
    p {
      color: $color1;
    }
  }
}
